.idea
SmartLearn/SmartLearn/__pycache__/
SmartLearn/Cabinet/__pycache__/
SmartLearn/Cabinet/migrations/__pycache__/
SmartLearn/CabinetApp/migrations/__pycache__/
SmartLearn/Project/__pycache__/
SmartLearn/ProfileApp/__pycache__/
SmartLearn/ProfileApp/migrations/__pycache__/