{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список учителей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <!-- Шапка сайта -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/static">Мой учебный сайт</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/static">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% block content %}{% endblock %}
{% block script %}{% endblock %}
    <footer>
        <!-- Футер сайта -->
        <p>&copy; 2023 Мой учебный сайт</p>
    </footer>
</body>
</html>
