{% extends 'profileapp/profile/base_index_blog.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}



<section data-bs-version="5.1" class="header6 cid-tT4YBJJ7nf" id="header06-1">
	
<br>
<br>
<br>
<br>
<br>
<br>
	
	<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5">
				<div class="card-wrapper">
					<h3 class="mbr-section-cardtitle mbr-fonts-style mb-2 display-5">
						<strong>SmartLearn</strong>
					</h3>

					<p class="mbr-cardtext mbr-fonts-style mb-0 display-7">
					Приветствуем вас на нашем сайте, здесь собралось много преподавателей которые смогут помочь вам с обучением!
					</p>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
					<strong>Начинай учиться</strong>
				</h1>

				<p class="mbr-text mbr-fonts-style mb-4 display-7">
					Либо, начинай учить если ты специалист в своей сфере!
				</p>
				<div class="mbr-section-btn mt-4">
                    {% if not autentic %}
					    <a class="btn btn-primary display-7" href="[{% url 'profile:login' %}]">Зарегистрируйся</a>
                    {% endif %}
					<a class="btn btn-success-outline display-7" href="#">О нас</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section data-bs-version="5.1" class="people03 cid-tT4YRWvWsR" id="people03-3">
	<div class="container mt-5">
        <div class="btn-group" role="group" id="categoryButtons">
            <a href="{% url 'index' %}" class="btn btn-secondary">ALL</a>
            {% for category in categories %}
                <a href="{% url 'profile:tag' tag_id=category.id|urlencode %}" class="btn btn-primary">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
			</div>
		</div>
		<div class="row">
            {% for user in users %}
                {% if user.is_teacher %}
                    <div class="item features-image col-12 col-md-6 col-lg-4">
                        <div class="item-wrapper">
                            <a href="{% url 'profile:blog' user.id %}">
                                <div class="item-img mb-3">
                                    <img src="{% if user.images %}{{ user.images.url }}{% else %}{% static 'image/profile_img/img.png' %}{% endif %}" alt="Mobirise Website Builder" title="">
                                </div>
                                <div class="item-content align-left">
                                    <h5 class="item-title mbr-fonts-style mb-3 display-7">
                                        Специалист
                                    </h5>
                                    <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                                        <strong>{{ user.first_name }}</strong>
                                    </h6>
                                    <p class="mbr-text mbr-fonts-style mt-3 display-7">
                                        {{ user.date_joined }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
		</div>
	</div>
{% endblock %}
