{% extends 'profileapp/profile/base_home.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
{% block styles %}
    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333; /* Цвет фона */
            padding-top: 20px;
            z-index: 1; /* Устанавливаем z-index для боковой панели */
        }

        /* Стили для пунктов меню */
        .sidenav a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: #fff; /* Цвет текста */
            display: block;
        }

        /* Стили для активного пункта меню */
        .sidenav a.active {
            background-color: #4CAF50; /* Цвет активного пункта */
        }

        /* Стили для контента, сдвигаемого вправо */
        .content {
            margin-left: 250px; /* Ширина боковой панели */
            padding: 20px;
            z-index: 1; /* Устанавливаем z-index для контента */
        }
    </style>
{% endblock %}

{% block modals %}

{% endblock %}

{% block content %}
    <!-- Боковая панель навигации -->
    <div class="sidenav">
        <a href="#" class="active">Статистика</a>
        <a href="#">Услуги</a>
        <a href="{%  url 'profile:profil_cabinet' user.id %}">Кабинеты</a>
    </div>

    <!-- Основной контент -->
    <div class="content">
        <h1>Добро пожаловать в ваш кабинет</h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Имя: {{ teach.username }}</h5>
                <p class="card-text">Учитель: {{ teach.teacher.description }}</p>
                {% for cabinet, users in users_by_cab.items %}
                    <a href="{% url 'cabinet:cabinet' cab_id=cabinet.id %}" class="card-text">Кабинет: {{ cabinet.name }}</a>
                    {% for user in users %}
                        <p class="card-text">Пользователь: {{ user.username }}</p>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}
