{% extends 'profileapp/profile/base_cabinet_index.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}

{% block modals %}

{% endblock %}
{% block url %}
{% endblock %}
{% block content %}
    <h1>Поиск</h1>
    <form action="{% url 'cabinet:parsing' %}" method="POST">
    {% csrf_token %}
        <label for="search">Введите ваш запрос:</label>
        <input type="text" id="answer" name="answer" placeholder="Поиск..." required>
        <input type="submit" value="Искать">
    </form>
    <div class="container">
        <div class="row">
            {% if result != None %}
                {% for work in result %}
                    {% for woo in work %}
                        <h1><p style="atsc-dynamic-refresh: true">{{ work.description }}</p></h1>

                        <p style="atsc-dynamic-refresh: true">{{ work.web }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>




{% endblock %}
{% block script %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>{% endblock %}